# git-ls-files --others --exclude-from=.git/info/exclude

Build*
Debug
Release
RS
DS
bin
lib
_UpgradeReport_Files
*.obj
*.pch
*.pdb
*.idb
*.ilk
*.exe
*.dll
*.lib
*.ncb
*.lst
*.suo
*.aps
*.user
*.scc
*.opt
*.plg
*.bsc
*.sbr
*.bini
*.vspscc
*.vssscc
.metadata
*head.txt
*.depend
*.layout
*.log
*.gch
*.zip
sdk